@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem;

    --background: 0 100% 100%; /* White */
    --foreground: 0 100% 0%; /* Black */

    --event: 0 100% 100%; /* White */
    --event-foreground: 0 100% 0%; /* Black */

    --popover: 0 100% 100%; /* White */
    --popover-foreground: 0 100% 0%; /* Black */

    --primary: 158 49% 47%; /* Mint Green */
    --primary-foreground: 0 100% 0%; /* Black */
    --primary-light: 156 52% 74%; /* Celadon */
    --primary-lightest: 156 52% 94%; /* Mint Cream */

    --secondary: 0 100% 100%; /* White */
    --secondary-foreground: 158 50% 20%; /* Dark Green */

    --muted-light: 220 13% 95%; /* gray-100 */
    --muted: 220 13% 91%; /* gray-200 */
    --muted-foreground: 220 13% 45%; /* gray-500 */

    --highlight: 158 49% 47%; /* Mint Green */
    --highlight-foreground: 0 100% 0%; /* Black */
    --highlight-light: 156 52% 94%; /* Mint Cream */

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --success: 158 49% 47%; /* Mint Green */
    --success-foreground: 0 100% 0%; /* Black */
    --success-light: 158 49% 47%; /* Mint Green */

    --destructive: 0 84% 60%; /* red-500 */
    --destructive-foreground: 0 0% 100%; /* white */
    --destructive-light: 0 86% 77%; /* red-300 */

    --border: 220 13% 83%; /* gray-300 */
    --border-dark: 220 13% 69%; /* gray-400 */

    --input: 0 100% 100%; /* White */

    --ring: 0 100% 0%; /* Black */

    /* Sidebar Colors */
    --sidebar-background: 156, 52%, 94%; /* Mint Cream */
    --sidebar-foreground: 240 100% 10%; /* unused */
    --sidebar-primary: 240 100% 50%; /* unused */
    --sidebar-primary-foreground: 0 100% 100%; /* unused */
    --sidebar-accent: 300 100% 90%; /* unused */
    --sidebar-accent-foreground: 300 100% 10%; /* unused */
    --sidebar-border: 220 100% 75%; /* unused */
    --sidebar-ring: 217.2 91.2% 59.8%; /* unused */
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  /* Event card styling */
  .event {
    @apply bg-event border overflow-hidden;
  }

  .event--today {
    @apply border-highlight;

    .event-date {
      @apply bg-highlight/50;
    }
  }

  .event--past {
    @apply bg-muted text-muted-foreground;
  }

  .event--weekend {
    @apply border-highlight;

    .event-date {
      @apply bg-highlight-light;
    }
  }

  .event--weekend-past {
    @apply border-border-dark;

    .event-date {
      @apply bg-muted-light;
    }
  }

  /* Menu drawers */
  .menu-trigger {
    @apply !bg-primary;

    svg {
      @apply text-primary-foreground;
    }
  }

  /* Desktop - date headers */
  .date-header {
    @apply border bg-event rounded text-center p-2 sticky top-2 shadow outline outline-8 outline-event/60;
  }

  /* Desktop - nav links */
  .nav-desktop {
    @apply bg-primary text-primary-foreground border-background border-r p-4 space-y-4 h-screen w-fit fixed top-0 bottom-0 left-0 z-50 transition-all duration-500 ease-in-out;
  }

  .nav-desktop:hover h3 {
    @apply max-w-60 opacity-100 px-4;
  }

  .nav-link-wrapper {
    @apply flex items-center;
  }

  .nav-link-wrapper h3 {
    @apply max-w-0 text-lg opacity-0 overflow-hidden transition-all duration-500 ease-in-out whitespace-nowrap;
  }

  .nav-link-icon {
    @apply h-12 w-12 rounded-full bg-secondary text-secondary-foreground flex items-center justify-center;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
